{% extends "base.html" %} {% block title %}Tickets{% endblock %} {% block
content %}

<div id="pageTitle">TICKETS</div>
<div class="container-fluid">
  <div class="bg-white rounded ticketsdiv">
    <div class="shadow card">
      <div class="card-header">
        <div class="align-items-center row">
          <div class="col">
            <h3 class="mb-0" style="font-size: 20px">List of Tickets</h3>
          </div>
          <div class="col">
            <div class="col text-right">
              <div class="form-inline my-2 my-lg-0" style="float: right">
                <input
                  class="form-control mr-sm-2"
                  id="inputSearch"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button
                  class="btn btn-outline-success my-2 my-sm-0"
                  type="button"
                  onclick="filterFunc()"
                >
                  Search
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive" style="height: 675px">
        <table class="align-items-center table-flush table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Ticket Title</th>
              <th scope="col">Project Name</th>
              <th scope="col">Description</th>
              <th scope="col">Ticket Author</th>
              <th scope="col">Priority</th>
              <th scope="col">Type</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for t in tickets %}
            <tr class="ticketRow">
              <th class="tckRow1" scope="row">
                <div class="media">
                  <span class="ticketName" style="color: #79589f">{{t.name}}</span>
                </div>
              </th>
              <td>
                <div class="row" style="padding-left: 20px">
                  {% for p in projects %}{% if p.id == t.project_id %}
                  <span>{{p.name}}</span>
                  {% endif %}{% endfor %}
                </div>
              </td>
              <td
                style="
                  white-space: unset;
                  overflow-wrap: break-word;
                  max-width: 20px;
                "
                scope="row"
              >
                <span>{{t.description}}</span>
              </td>
              <td>
                <div class="row" style="padding-left: 20px">
                  {% for u in usernames %} {% if u.id == t.owner %}
                  <span>{{u.full_name}}</span>
                  {% endif %}{% endfor %}
                </div>
              </td>
              <td scope="row">
                {% if t.priority == 'Low' %}
                <span class="badge rounded-pill bg-success text-white"
                  >Low</span
                >
                {% elif t.priority == 'Medium' %}
                <span class="badge rounded-pill bg-warning text-dark"
                  >Medium</span
                >
                {% else %}
                <span class="badge rounded-pill bg-danger text-white"
                  >High</span
                >
                {% endif %}
              </td>
              <td>
                <div class="mr-1 mb-2 badge badge-primary badge-pill">
                  {{t.type}}
                </div>
              </td>
              <td>
                <div class="row" style="padding-left: 20px">
                  <span>
                    {% if t.status == 'Open' %}
                    <span class="dot" style="background-color: green"></span>
                    Open {% elif t.status == 'In-Progress' %}
                    <span
                      class="dot"
                      style="background-color: rgb(0, 106, 212)"
                    ></span>
                    In-Progress {% elif t.status == 'Closed' %}
                    <span class="dot" style="background-color: red"></span>
                    Closed {% endif %}
                  </span>
                </div>
              </td>
              <td>
                <a
                  class="bi bi-box-arrow-up-right fa-sm"
                  id="tickets-redirect"
                  style="color: #79589f"
                  href="/project/{{t.project_id}}"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    fill="currentColor"
                    class="bi bi-box-arrow-up-right"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"
                    />
                  </svg>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <span>
          Number of Tickets:
          <strong>{{numOfTickets}}</strong>
        </span>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function filterFunc(){
    var input, filter, tckRow, x, txtValue;
    input = document.getElementById("inputSearch");
    filter = input.value.toUpperCase();
    tckRow = document.getElementsByClassName("ticketRow");
    data = document.getElementsByClassName("ticketName");

    for (var i = 0; i < data.length; i++){
      x = data[i];
      txtValue = x.textContent || x.innerText;

      if(txtValue.toUpperCase().startsWith(filter)){
        tckRow[i].style.display = "";
      } else {
        tckRow[i].style.display = "none";
      } 
    }
  }
</script>

{% endblock %}